@page "/Sidebar"
@using Inside_Airbnb.Server
@implements IDisposable
@inject IJSRuntime JS
@inject IHttpClientFactory ClientFactory
@inject IConfiguration _configuration

<div id="@(_listing is not null ? "slide" : "")" class="@(_listing is not null ? "" : "d-none")">
    @if (_listing is not null)
    {
        <div class="d-flex flex-row">
            <h3>@_listing.Name</h3>
            <button @onclick="() => _listing = null" class="btn-close marginleftAuto"></button>
        </div>
        <div class="d-flex flex-row">
            <span>By&nbsp;</span>@_listing.HostName <h4 class="marginleftAuto">$@_listing.Price</h4>
        </div>
        <div>
            <strong>Neighbourhood</strong><br/>@_listing.NeighbourhoodCleansed
        </div>
        <div>
            <strong>Reviews</strong><br/>@_listing.NumberOfReviews (@_listing.NumberOfReviewsL30d in the last 30 days)
        </div>
        <div>
            <strong>Stay duration</strong><br/>@_listing.MinimumNights night(s) at a minimum, @_listing.MaximumNights night(s) at longest
        </div>
        <div>
            <strong>Amount of bedrooms and bathrooms</strong><br/>@(_listing.Bedrooms ?? 0) bedrooms, @(_listing.Bathrooms ?? 0) bathrooms
        </div>
        <div>
            <strong>Room type</strong><br/>@_listing.RoomType
        </div>
    }
</div>

@code {
    private Listing? _listing;
    private DotNetObjectReference<Sidebar>? dotNetHelper;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await JS.InvokeAsync<string>("mapbox.setDotNetHelper", dotNetHelper);
        }
    }

    [JSInvokable]
    public async Task FetchInfo(int id)
    {
        var client = ClientFactory.CreateClient("WebAPI");
        _listing = await client.GetFromJsonAsync<Listing>($"{_configuration["apiUrl"]}/api/listings/" + id);
        StateHasChanged();
    }

    public void Dispose()
    {
        dotNetHelper?.Dispose();
    }

}